<link rel="stylesheet" href="~/css/light.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/Landing.css" />

<body>
    <h1>Salon Sync - Portfolio Project</h1>
    <p>An innovative ASP.NET Core application revolutionizing salon management.</p>
    <h2>Features:</h2>
    <div class="features">
        <div class="feature">
            <strong>Effortless Scheduling:</strong> Easily schedule appointments with available time slots displayed to avoid overlaps.
        </div>
        <div class="feature">
            <strong>Interactive Calendar:</strong> View the schedule for today and the upcoming month's appointments on the homepage calendar.
        </div>
        <div class="feature">
            <strong>Stylist Profiles:</strong> Create and manage stylist profiles, including personal information, specialties, and availability.
        </div>
        <div class="feature">
            <strong>Comprehensive Client Records:</strong> Access detailed client records to provide personalized service and track appointment history.
        </div>
        <div class="feature">
            <strong>Reporting and Analytics:</strong> Track key metrics such as appointment trends, client retention rates, and stylist performance to gain valuable insights for salon management.
        </div>


    </div>
    <form asp-action="Index" asp-controller="Home">
            <button type="submit" class="btn btn-theme">Continue</button>
    </form>

</body>
