
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align:center;
}

h1, h2 {
    text-align: center;
    color: #555;
}

p {
    text-align: center;
    color: #777;
}


.features {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left:70px;
    padding-right:70px;
    text-align:left;
}

.feature {
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
}

    .feature::before {
        content: "\2022";
        position: absolute;
        left: 0;
        color: var(--sl-color-primary-500);
    }
