html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  min-width:100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--sl-color-primary-200);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container {
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
}

.navbar-nav {
    justify-content:right;
}

.header-img {
    width:100%;
    height:auto;
    overflow: hidden;
}

.bg-theme {
    background-color:var(--sl-color-primary-500)!important;
    border-color:var(--sl-color-primary-500);
}
.bg-theme-2 {
    background-color: var(--sl-color-primary-700) !important;
    border-color: var(--sl-color-primary-700);
}

.text-theme {
    color: var(--sl-color-primary-700) !important;
}


.btn-theme {
    background-color: var(--sl-color-primary-600) !important;
    border-color: var(--sl-color-primary-600) !important;
    color: white;
}