@model HairApplication.MVC.Models.AppointmentEntryViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/&#64;shoelace-style/shoelace@2.14.0/cdn/themes/light.css" />
<script type="module" src='https://cdn.jsdelivr.net/npm/&#64;shoelace-style/shoelace@2.14.0/cdn/shoelace-autoloader.js'></script>

<div class="text-center">
    <h1 class="display-4">Welcome to the Hair Salon!</h1>
    <h2 class="display-6">Please log in as a demo user.</h2>
    <sl-button href="@Url.Action("Schedule", "Appointment")" type="submit">Log in</sl-button>
</div>