@{
    ViewData["Title"] = "Home Page";
}

<style src="~/lib/material/button/_filled-button.scss"></style>

<div class="text-center">
    <h1 class="display-4">Welcome to the Hair Salon!</h1>
    <md-filled-button>Complete</md-filled-button>
</div>
